/* --- Base Styles --- */
body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 80px; /* Increased top padding to accommodate the fixed header */
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: #ffffff;
    font-size: 20px;
}

/* Adjusted Header */
header {
    display: flex;
    justify-content: center;  /* Center the content horizontally */
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Adjusted Header Form */
header form {
    display: flex;
    align-items: center;
    flex-grow: 2;
    width: 90%;  /* Make the form cover the entire width */
    border: 1px solid #ccc;
    background-color: #f4f4f4;  /* Background color for the entire form */
    overflow: hidden;  /* Ensures inner elements don't spill out */
    border-radius: 4px;  /* Optional: Rounded corners for the search box */
    margin-right: 40px;  /* Center the form horizontally */
}


header input[type="text"] {
    flex: 1;
    border: none;
    padding: 12px 15px; /* Adjusted padding for balanced spacing */
    font-size: 1em;
    outline: none;
    margin: 10px;
}

header form i.fas.fa-search {
    padding: 10px;
    cursor: pointer;
    background-color: #f4f4f4; /* Added background for contrast */
}

.user-cart-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px 10px;  /* Adjusted the right margin to 10px */
}


/* --- Quick Links --- */
.quick-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Increased gap for spacing */
    background-color: #f4f4f4;
    padding: 15px 0; /* Increased padding for balance */
    margin-top: 20px; /* Space between header and quick links */
}

.quick-links li {
    list-style: none;
}

/* --- Banner Styles --- */
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.banner img {
    max-width: 100%;
    height: auto;
}

/* --- Product Grid --- */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0; /* Space between banner and product grid */
}

.product-card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card p {
    font-weight: bold;
}

.product-card a {
    color: #3196E7;
}

/* --- Account Creation Styles --- */
.account-form {
    background-color: #FFF;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.account-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.account-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3196E7;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account-form button:hover {
    background-color: #277db2;
}

/* --- Shared Header Styles --- */
header .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #3196E7;
    margin-right: 20px;
}

header .user-cart-icons {
    display: flex;
    gap: 15px;
}

header .user-cart-icons a {
    color: #525252;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

header .user-cart-icons a:hover {
    color: #3196E7;
}

/* --- Product Details Page Styles --- */
.product-details {
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card p {
    font-weight: bold;
}

.product-card a {
    color: #3196E7;
}

.product-details button {
    padding: 10px 20px;
    background-color: #3196E7;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details button:hover {
    background-color: #277db2;
}

.product-details img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; /* centers the image horizontally */
}
.cart-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.cart-item-info { /* Added this to contain product info */
    display: flex;
    align-items: center;
    gap: 10px;  /* Space between child elements */
}

.cart-item h3 {
    margin: 0;
}

.cart-item button {
    background-color: #3196E7;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-item button:hover {
    background-color: #277db2;
}

.totalCost {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cartOptions {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cartOptions button {
    background-color: #3196E7;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cartOptions button:hover {
    background-color: #277db2;
}


.myClass {
    color: red;
    background-color: #f5f5f5;
}

/* Button Styles */
.add-to-cart-btn {
    /* Your button styling here */
    background-color: #3196E7;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

/* General Styling */
body {
    font-family: 'Arial', sans-serif;   /* Setting the default font */
    background-color: #f4f4f4;         /* Setting a light gray background color for the entire page */
    padding: 40px;                     /* Adding padding around the body content */
}

/* Styling for the form */
form {
    background-color: #ffffff;         /* White background color for the form */
    padding: 30px;                     /* Padding inside the form */
    border-radius: 5px;                /* Rounded corners for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   /* Adding a subtle shadow to the form */
    max-width: 800px;                  /* Setting a maximum width for the form */
    margin: 0 auto;                    /* Centering the form on the page */
}

/* Styling for the main heading inside the form */
h1 {
    text-align: center;               /* Center-aligning the heading */
    margin-bottom: 30px;              /* Space below the heading */
    color: #333;                      /* Dark gray color for the heading text */
}

/* Styling for each fieldset (group of form fields) */
fieldset {
    border: 1px solid #e0e0e0;        /* Light gray border around the fieldset */
    padding: 20px;                    /* Padding inside the fieldset */
    border-radius: 5px;               /* Rounded corners for the fieldset */
    margin-bottom: 20px;              /* Space below each fieldset */
}

/* Styling for the legend (title) of each fieldset */
legend {
    font-weight: bold;                /* Bold text for the legend */
    color: #666;                      /* Dark gray color for the legend text */
    padding: 5px 10px;                /* Padding around the legend text */
    border: 1px solid #e0e0e0;        /* Light gray border around the legend */
    border-radius: 5px;               /* Rounded corners for the legend */
}

/* Styling for labels */
label {
    display: block;                   /* Displaying labels as block elements */
    margin-bottom: 10px;              /* Space below each label */
    font-weight: 600;                 /* Slightly bold text for labels */
}

/* Styling for various input fields */
input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="month"], 
select {
    width: 100%;                      /* Full width for these input fields */
    padding: 10px;                    /* Padding inside the input fields */
    margin-bottom: 20px;              /* Space below each input field */
    border: 1px solid #e0e0e0;        /* Light gray border for the input fields */
    border-radius: 5px;               /* Rounded corners for the input fields */
    font-size: 16px;                  /* Font size for text inside the input fields */
}

/* Styling for the submit button */
input[type="submit"] {
    display: block;                   /* Displaying the button as a block element */
    background-color: #3097D1;        /* Blue background color for the button */
    color: #fff;                      /* White text color for the button */
    padding: 15px 20px;               /* Padding inside the button */
    border: none;                     /* Removing the default border from the button */
    border-radius: 5px;               /* Rounded corners for the button */
    cursor: pointer;                  /* Hand cursor when hovering over the button */
    font-size: 16px;                  /* Font size for the button text */
    margin-top: 20px;                 /* Space above the button */
    width: 100%;                      /* Full width for the button */
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #267ab7;        /* Darker blue color when hovering over the button */
}

.checkout-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3196E7;
    color: #FFF;
    border: none;
    border-radius: 4px;
    text-decoration: none; /* Removes the underline from the link */
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-link:hover {
    background-color: #277db2;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    padding-top: 60px; /* Adjust this based on your header's height */
}

.brand-logo {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.user-cart-icons a {
    margin-left: 10px;
    margin-right: 50px;
    text-decoration: none;
    color: inherit;
}

/* Checkout link styling */
.checkout-link {
    background-color: #3196E7;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
}

.checkout-link:hover {
    background-color: #277db2;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text {
    margin-top: 20px;
    font-weight: bold;
}
.cart-overview {
    padding-top: 20px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    width: 300px; /* Or any desired width */
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-cart-items {
    list-style-type:lower-alpha;
    padding: 0;
}

.checkout-cart-item {
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    font-size: 14px; /* Smaller font size for compact view */
}

.checkout-cart-item:last-child {
    border-bottom: none;
}
